.top-form {
    -fx-background-color: linear-gradient(to bottom right, #7BA0FF ,#8657C0);
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #f13f57;
}

.minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover {
    -fx-background-color: #A9A9A9;
}

.left-form {
    -fx-background-color: #ededed;
}

.bt {
    -fx-background-color: transparent;
    -fx-cursor: hand;

}

.bt:hover {
    -fx-text-fill: #7BA0FF;
}

.bars {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.bars:hover {
    -fx-background-radius: 5px;
    -fx-background-color: #d6d6d6;
}

.edit-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.logout-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #F2DDDC;
    -fx-background-radius: 10px;
}

.semi-form {
    -fx-background-color: #ffff;

}

.statistic {
    -fx-background-color: #ededed;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-radius: 15px;
    -fx-border-color: #000;
    -fx-border-radius: 15px;
}

.card-item {
    -fx-background-color: #fff;
    -fx-border-color: #000;
}

.bt_home_page {
    -fx-background-color: linear-gradient(to bottom right, #7BA0FF ,#8657C0);
    -fx-cursor: hand;
    -fx-text-fill:  #ededed;
}

.bt_half_left {
    -fx-background-color: #fff;
    -fx-cursor: hand;
}

.bt_half_left:hover {
    -fx-background-color: #7BA0FF;
}



